@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&family=Rock+Salt&display=swap');
:root {
  
  --primary-color: #778DA9   ;
  --secondary-color: #0D1B2A ;
  --accent1-color: #6C0E23;
  --accent2-color: white;

  
  --heading-font: "Rock Salt";
  --paragraph-font: "Roboto Slab", Helvetica, sans-serif;
  --dark-mode-color: #082032;
  --dark-mode-color1: #2C394B;
  --dark-mode-font: #FF4C29;
  --headline-color-on-white: #396E94;   
  --headline-color-on-color: white;  
  --paragraph-color-on-white: #0D1B2A; 
  --paragraph-color-on-color: white;  
  --paragraph-background-color: #0D1B2A  ;
  --nav-link-color: #021727;
  --nav-background-color: #027c8f;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396E94;
}
html, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  
  font-family: var(--paragraph-font);
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


header {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  padding: 10px 20px;
}

header h1 {
  font-size: 24px;
}

#icon{
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: auto;
}

#navMenu {
  display: flex;
  justify-content: center;
  background-color: #156fcf;
  padding: 20px;
  
}

nav ul {
  list-style-type: none;
  display: flex;
  flex:1;
  text-align: center ;
  padding: 20px;
  flex-direction: row;
}

nav li {
  margin-right: 20px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

nav a {
  color: #0D1B2A;
  text-decoration: none;
  font-family: "Rock Salt", cursive;
  color: var(--secondary-bg-color);
  text-decoration: none;
}

nav a:hover {
  color: #6C0E23;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
  transition: transform 0.3s ease-in-out;
}

#hamburger-menu.active .bar:nth-child(1) {

  transform: rotate(-45deg) translate(-9px, 6px);
}

#hamburger-menu.active .bar:nth-child(2) {
  opacity: 0;
}

#hamburger-menu.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-8px, -8px);
}

#close-menu {
  display: none;
  cursor: pointer;
}


.hero img {
  width: 100%;
  height: 700px;
  display: block;
  position: relative;
}

#join-button {
  position: absolute;
  top: 400px;
  left: 10px;
  background-color: #6C0E23;
  color: #9CC5A1;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.events-and-weather {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.weather-card{
  border: 2px solid #0D1B2A;
  border-radius: 8px;
  width: 650px;
  text-align: center;
  box-shadow: 0 4px 8px 0 #f5f5f5, 0 6px 10px 0 #156fcf;
}
.event-details {
  max-width: 600px;
  border: 2px solid #0D1B2A;
  padding: 20px;
  color: #0D1B2A;
  background-image: url('https://th.bing.com/th/id/OIP.1sMkaDvkeCU9ZONiNJ6fUAHaEo?pid=ImgDet&rs=1');
  background-size: cover;
  background-position: center;
  text-align: center;
}

.event-details h2, .event-details p {
  color: #0D1B2A;
}

.business-postings-container {
  margin-top: 20px;
}

.business-postings {
  display: flex;
  justify-content: space-between;

}

.business-posting {
  width: 30%;
  padding: 20px;
  border: 1px solid #9CC5A1;
  background-size: cover;
  background-position: center;
  color: #0D1B2A;

}

.business-posting h3, .business-posting p {
  color: #0D1B2A;
}

.business-posting a.cta-button {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #f0f0f0;
  text-decoration: none;
  border: 1px solid #6C0E23;
  padding: 5px 10px;
  background-color: #6C0E23;
}

.business-posting a.cta-button:hover {
  background-color: rgba(53, 6, 163, 0.2);
}

.success-story {
  padding: 20px;
  border: 1px solid #415A77;
  margin-top: 20px;
  background-color: #0D1B2A;
}

.success-story h2 {
  color: #c5d0dd;
}

.success-story p {
  color: #e6e0e0;
}

footer {
  background-color: #415A77;
  color: #9CC5A1;
  padding: 20px;
  text-align: center;
}

.social img {
  width: 30px;
  height: auto;
  margin: 0 5px;
}

.contact-info {
  margin-top: 10px;
}

.development-info {
  margin-top: 10px;
}

.development-info a {
  color: #0D1B2A;
  text-decoration: none;
}

.development-info a:hover {
  text-decoration: underline;
}

.banner {
  display: none;
  border: 2px solid var(--bgr-header-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 #f5f5f5, 0 6px 10px 0 #454546;
  color: #6C0E23;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  position: relative;
}
.sidebar{
  border: 2px solid var(--bgr-header-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 #f5f5f5, 0 6px 10px 0 #021727;
  padding: 10px;
}
#visit-message{
  border: 2px solid var(--bgr-header-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 #f5f5f5, 0 6px 10px 0 #454546;
  background-color: #027c8f;
  color: #FF4C29;
}
.cta-message {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.cta-message a {
  color: #FF4C29;
  text-decoration: none;
  font-weight: bold;
  text-decoration-line: underline;
}
#side-content1{
  width: 300px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#side-content1 table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
#side-content1 th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

#side-content1 th{
  background-color: #007bff;
  color: #fff;
}

.banner p {
  margin: 0;
}

#closeBanner {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.dark-mode {
  background-color: #222;
  color: var(--dark-mode-font);
}
.dark-mode .banner{
  color: var(--dark-mode-font);
}
.dark-mode body {
  background-color: var(--dark-background-color);
  color: var(--dark-mode-font);
}
.dark-mode header {
  background-color: var(--dark-mode-color);
  color: var(--dark-mode-font);
}
.dark-mode #navMenu{
  background-color: var(--dark-mode-color1);
}
.dark-mode footer {
  background-color: #082032; 
  color: #FF4C29; 
}
.dark-mode #about{
  background-color: #222;
}
.dark-mode .membership-benefits{
  color: #7743DB;
}
.dark-mode #membershipForm label{
  color:#FF4C29;
}
.dark-mode #side-content1{
  background-color: var(--dark-mode-color1);
}
.dark-mode .cta-message{
  background-color: var(--dark-mode-color1);
}
#text h2{
  background-color: #415A77;
  text-align: center;
}
#about {
  display: flex; 
  background-color: #f2f2f2;
  text-align: center;
  padding: 0.5rem;
}

#about h2, #about h3 {
  font-family: "Rock Salt", cursive; 
  font-size: 2rem;
  margin-bottom: 1rem;
}

#about h2 { 
  text-align: center;
  border: #021727;
  
}

form#membershipForm {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #082032;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 #f5f5f5, 0 6px 10px 0 #027c8f;

}

form label {
  display: block;
  margin: 10px 0 5px;
  color: #021727;
  font-size: medium;
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

form button {
  background-color: #415A77;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#about textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.membership-price {
  font-weight: bold;
  color: #3498db; 
  margin-top: 10px;
}

#np-membership h3{
  background-color: #F4F27E;
}
#bronze-membership h3{
  background-color: #994D1C;
}
#silver-membership h3{
  background-color: #B0A695;
}
#gold-membership h3{
  background-color: #937D14;
}
.membership-benefits {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.membership-benefits div {
  border: 1px solid #082032;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 #f5f5f5, 0 6px 10px 0 #027c8f;
  transition: transform 0.2s ease-in-out; 
}

.membership-benefits div:hover {
  transform: scale(1.05); 
}

.membership-benefits h3 {
  color: var(--secondary-color);
}

.membership-benefits ul {
  list-style-type: lower-roman;
  padding: 0;
}

.membership-benefits li {
  margin-bottom: 8px;
}

button:hover {
  background-color: #9CC5A1;
}

#members-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}
#members-container img{
  width: 200px;
  height: 150px;
  border: #0D1B2A;
}
.member-card,
.member-list-item {
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border: 2px solid var(--bgr-header-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 #f5f5f5, 0 6px 10px 0 #454546;
}
#toggle-view-button{
  background-color: #415A77;
  color: #fff;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#toggle-view-button :hover{
  background-color: #9CC5A1;
}

.grid-view .member-card {
  width: 30%; 
  box-sizing: border-box;
}

.list-view .member-list-item {
  width: 100%; 
  box-sizing: border-box;
}


.main-content {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  
}
#visit-message ul, li{
  list-style: lower-roman;
}

.image-gallery img {
  width: 300px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.image-gallery img:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Adding box shadow */
}

/* Adjustments for localStorage messages */
.localStorage-message {
  margin-bottom: 10px;
}

.localStorage-message.welcome {
  color: #6C0E23;
}

.localStorage-message.soon {
  color: #156fcf;
}

.localStorage-message.visited {
  color: #415A77;
}

@media (max-width: 768px) {
  

  #hamburger-menu {
    display: block;
    cursor: pointer;
  }

  nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  nav.active ul {
    display: flex;
    flex-direction: column;
  }

  nav a {
    color: #0D1B2A;
  }

  nav a:hover {
    color: #6C0E23;
  }

  #close-menu {
    display: none;
  }
  

  #close-menu.active {
    display: block;
  } 
  
  
  #navMenu {
    display: none;
  }
  
  #navMenu.active {
    display: block;
  }

  .container {
    grid-template-columns: 1fr; /* Single column layout for mobile view */
  }

  .main-content {
    flex-direction: column;
  }
  .sidebar,
  .image-gallery {
    width: 100%;
  }

  #members-container {
    flex-direction: column;
  }
  .grid-view .member-card {
    width: 100%; /* Full width for grid items on small screens */
  }
}
